body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.hero-container {
    height: 100vh;
    background-image: url(../img/hero-img.jpg);
    background-position: center;
    background-size: cover;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section {
    width: 80vh;
    text-align: center;
}

.hero-section h1 {
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 700;
    color: white;
}

.hero-section p {
    margin-top: 18px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 300;
    color: white;
}

    .hero-section button {
        margin-top: 40px;
        border: none;
        background: linear-gradient(to right, #a611d2, #6e00c1 );
        border-radius: 20px;
        padding: 10px 32px;
    }

    .hero-section a {
        text-decoration: none;
        margin-top: 18px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 600;
        color: white;
    }

    .hero-section button:hover {
        background: white;
        transition: 0.3s;
    }

    .hero-section a:hover {
        color: #6e00c1;
        transition: 0.3s;
    }

#keuntungan-container {
    display: flex;
    justify-content: center;
}

#keuntungan {
    width: 80%;
    margin: 130px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#img-keuntungan {
    display: flex;
    justify-content: center;
}

#keuntungan img {
    height: 390px;
    margin: 30px 0px;
}

#keuntungan h1 {
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 700;
    color: #6e00c1;
}

#keuntungan p {
    margin-top :30px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

#text-keuntungan {
    padding: 0px 30px;
}

.mobile {
    display: none;
}  

#bergabung-container {
    display: flex;
    justify-content: center;
}

#bergabung-fluid {
    background-color: #EFEFEF;
}

#bergabung {
    width: 80%;
    margin: 130px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bergabung h1 {
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 700;
    color: black;
}

#bergabung p {
    margin-top :30px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

#img-bergabung {
    display: flex;
    justify-content: center;
}

#img-bergabung img {
    width: 415px;
}

    #bergabung-container button {
        margin-top: 40px;
        border: none;
        background: linear-gradient(to right, #a611d2, #6e00c1 );
        border-radius: 20px;
        padding: 10px 32px;
    }

    #bergabung-container a {
        text-decoration: none;
        margin-top: 18px;
        font-family: Open Sans;
        font-size: 16px;
        font-weight: 600;
        color: white;
    }

    #bergabung-container button:hover {
        background: black;
        transition: 0.3s;
    }

    #bergabung-container a:hover {
        color: white;
        transition: 0.3s;
    }
    
#fasilitas {
    margin: 130px 0px;
}

#fasilitas img {
    height: 200px;
}

#fasilitas h1 {
    margin: 40px 0px;
    font-family: Open Sans;
    font-size:36px;
    font-weight: 700;
    color: #6e00c1;
}

#fasilitas p {
    margin-top :30px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

#fasilitas-card {
    margin: 80px 0px;
    padding: 0px 100px;
    text-align: center;
}

#carabo-fluid {
    background-color: #EFEFEF;
    padding: 130px 0px;
}

#carabo h1 {
    margin: 40px 0px;
    font-family: Open Sans;
    font-size:36px;
    font-weight: 700;
    color: #6e00c1;
}

#carabo p {
    margin-top :30px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

#keunggulan {
    margin: 130px 0px;

}

#text-carabo {
    padding: 0px 50px;
}

#keunggulan {
    display: flex;
    justify-content: center;
    align-items: center;
}

#card-keunggulan {
    width: 340px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 50px;
    margin: 25px;
    border-radius: 20px;
    box-shadow: 10px 20px 50px rgba(110, 0, 193, 0.150);
}

#keunggulan h1 {
    margin: 40px 0px;
    font-family: Open Sans;
    font-size:18px;
    font-weight: 700;
    color: #6e00c1;
}

#teknik-fluid {
    background-color: #EFEFEF;
    display: flex;
}

#teknik {
    margin: 130px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#teknik h1 {
    font-family: Open Sans;
    font-size: 24px;
    font-weight: 700;
    color: #6e00c1;
}

#card-teknik {
    width: 340px;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25px 50px;
    margin: 25px;
    background-color: white;
    border-radius: 50px;
    box-shadow: 10px 20px 50px rgba(110, 0, 193, 0.150);
}

#daftar-container {
    display: flex;
    justify-content: center;
}

#daftar {
    width: 80%;
    margin: 130px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}


#daftar h1 {
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 700;
    color: black;
}

#daftar ul {
    margin-top: 30px;
}

#daftar ul li {
    margin-top : 15px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 700;
    color: black;
}

#daftar img {
    width: 418px;
}

#img-daftar {
    display: flex;
    flex-direction: column;
    align-items: center;
}

        #daftar-container button {
            margin-top: 40px;
            border: none;
            background: linear-gradient(to right, #a611d2, #6e00c1 );
            border-radius: 20px;
            padding: 10px 32px;
        }

        #daftar-container a {
            text-decoration: none;
            margin-top: 18px;
            font-family: Open Sans;
            font-size: 16px;
            font-weight: 600;
            color: white;
        }

        #daftar-container button:hover {
            background: black;
            transition: 0.3s;
        }

        #daftar-container a:hover {
            color: white;
            transition: 0.3s;
        }

#pemberitahuan-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #a611d2, #6e00c1 );
}

#pemberitahuan-container {
    margin: 130px 0px;
    display: flex;
    justify-content: center;
}

#pemberitahuan h1 {
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 700;
    color: white;
    text-align: center;
}

#pemberitahuan p {
    margin-top : 30px;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: white;
    text-align: center;
}

#faq-fluid {
    background-color: #EFEFEF;
    display: flex;
}

#faq-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#faq {
    width: 80%;
    margin: 130px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #a611d2, #6e00c1 );
}

#footer-container {
    margin: 130px 0px;
    display: flex;
    justify-content: center;
}

#footer h1 {
    font-family: Open Sans;
    font-size: 42px;
    font-weight: 700;
    color: white;
    text-align: center;
}

#footer p {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    color: white;
}

#footer a {
    text-decoration: none;
    color: white;
}

#img-footer {
    display: flex;
    flex-direction: column;
}

#img-footer ul {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

#img-footer ul li {
    display: inline-block;
}

                #judul {
                    margin-bottom: 80px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

                #judul img {
                    justify-content: start;
                }

                #judul h1 {
                    font-family: Open Sans;
                    font-size: 42px;
                    font-weight: 700;
                    color: black;
                    text-align: center;
                }

        @media (max-width:1200px){
            .hero-section {
                padding: 50px;
            }
            
            .hero-section h1 {
                font-size: 32px;
            }
            
            .hero-section p {
                font-size: 14px;
            }

            #judul {
                margin-bottom: 50px;
            }

            #judul h1 {
                font-size: 32px;
            }

            .desktop {
                display: none;
            }

            #img-mobile-keuntungan {
                display: flex;
                justify-content: center;
            }
            .mobile {
                display: block;
            }

            #keuntungan h1 {
                font-size: 32px;
                text-align: center;
            }
            
            #keuntungan p {
                font-size: 12px;
                text-align: center;
                margin-bottom: 120px;
            }

            #text-keuntungan {
                padding: 0px 50px;
            }

            #text-bergabung {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }

            #bergabung h1 {
                margin: 30px;
                font-size: 32px;
                text-align: center;
            }
            
            #bergabung p {
                font-size: 12px;
                text-align: center;
            }

            #text-bergabung {
                padding: 0px 50px;
            }

            #bergabung-container button {
                text-align: center;
            }

        }


        @media (max-width:360px) {
            .hero-section {
                padding: 10px;
            }
            
            .hero-section h1 {
                font-size: 24px;
            }
            
            .hero-section p {
                font-size: 14px;
            }

            #judul {
                margin-bottom: 50px;
            }

            #judul h1 {
                font-size: 24px;
            }

            .desktop {
                display: none;
            }

            #img-mobile-keuntungan {
                display: flex;
                justify-content: center;
            }
            .mobile {
                display: block;
            }

            #keuntungan h1 {
                font-size: 24px;
                text-align: center;
            }
            
            #keuntungan p {
                font-size: 14px;
                text-align: center;
                margin-bottom: 120px;
            }

            #text-keuntungan {
                padding: 0px 50px;
            }

            #text-bergabung {
                display: flex;
                justify-content: center;
                flex-direction: column;
                align-items: center;
            }

            #bergabung h1 {
                margin: 30px;
                font-size: 24px;
                text-align: center;
            }
            
            #bergabung p {
                font-size: 14px;
                text-align: center;
            }

            #text-bergabung {
                padding: 0px 50px;
            }

            #bergabung-container button {
                text-align: center;
            }

            #teknik h1 {
                font-size: 18px;
            }

            #card-teknik {
                width: 280px;
                height: 70px;
            }

            #carabo h1 {
                font-size:24px;
            }
            
            #carabo p {
                font-size: 14px;
            }

            #pemberitahuan h1 {
                font-size: 24px;
            }
            
            #pemberitahuan p {
                font-size: 14px;
            }

            #daftar h1 {
                font-size: 24px;
            }

            #keuntungan, #bergabung, #fasilitas, #footer, #daftar {
                margin: 80px 0px;
            }

            #carabo-fluid {
                padding: 80px 0px;
            }

            #fasilitas-card {
                margin: 50px 0px;
                padding: 0px 50px;
            }

            #text-bergabung, #text-keuntungan {
                padding: 0px;
            }

            #keuntungan img {
                margin:0px;
            }

            #keuntungan p {
                margin-bottom: 50px;
            }

            .navbar-brand img {
                height: 40px;
            }

            .hero-section button {
                display: none;
            }

            .text-button p {
                display: none;
            }
        }